{% extends 'recipes/base.html' %}

{% block title %}Додати новий рецепт — Мій сайт рецептів{% endblock %}

{% block content %}
    <h1 class="mb-4">Додати новий рецепт</h1>
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary mt-3">Додати рецепт</button>
    </form>
    <p class="mt-4">
        <a href="{% url 'home' %}" class="btn btn-link">Повернутися на головну</a>
    </p>
{% endblock %}
